*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#0f172a;
color:#e5e7eb;
line-height:1.6;
}

/* HERO */

.hero{
text-align:center;
padding:120px 20px;
background:linear-gradient(135deg,#1e293b,#020617);
}

.hero h1{
font-size:3.5rem;
color:#38bdf8;
}

.hero h2{
font-weight:400;
margin-top:10px;
}

.hero p{
margin-top:20px;
max-width:600px;
margin:auto;
opacity:0.85;
}

/* HERO BUTTONS */

.hero-buttons{
margin-top:30px;
}

.btn{
background:#38bdf8;
color:#020617;
padding:12px 24px;
border-radius:8px;
text-decoration:none;
font-weight:600;
margin:5px;
display:inline-block;
transition:0.3s;
}

.btn:hover{
background:#0ea5e9;
}

.btn-outline{
border:1px solid #38bdf8;
color:#38bdf8;
padding:12px 24px;
border-radius:8px;
text-decoration:none;
margin:5px;
display:inline-block;
transition:0.3s;
}

.btn-outline:hover{
background:#38bdf8;
color:#020617;
}

/* SECTION */

section{
padding:70px 20px;
max-width:1000px;
margin:auto;
}

h3{
font-size:2rem;
margin-bottom:25px;
color:#38bdf8;
}

/* SKILLS */

.skill-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:15px;
}

.skill-grid span{
background:#1e293b;
padding:14px;
border-radius:8px;
text-align:center;
transition:0.3s;
}

.skill-grid span:hover{
background:#334155;
transform:translateY(-4px);
}

/* PROJECTS */

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
}

.project-card{
background:#1e293b;
padding:25px;
border-radius:14px;
text-align:center;
transition:0.3s;
}

.project-card:hover{
transform:translateY(-6px);
background:#334155;
}

/* GAME ICON */

.project-card img{
width:120px;
height:120px;
object-fit:cover;
border-radius:20px;
display:block;
margin:auto;
margin-bottom:15px;
transition:0.3s;
}

.project-card img:hover{
transform:scale(1.1);
}

/* GAME VIDEO */

.game-video{
width:100%;
border-radius:10px;
margin-bottom:15px;
}

/* TAGS */

.game-tags{
margin-top:10px;
margin-bottom:10px;
}

.game-tags span{
background:#020617;
padding:6px 10px;
border-radius:6px;
font-size:12px;
margin:4px;
display:inline-block;
}

/* PLAY BUTTON */

.play-btn{
display:inline-block;
margin-top:10px;
text-decoration:none;
color:#38bdf8;
font-weight:600;
}

.play-btn:hover{
text-decoration:underline;
}

/* CONTACT */

.contact a{
color:#38bdf8;
text-decoration:none;
}

.contact a:hover{
text-decoration:underline;
}

.contact-buttons{
margin-top:20px;
}

.call-btn{
background:#38bdf8;
color:#020617;
padding:10px 20px;
border-radius:8px;
text-decoration:none;
margin-right:10px;
}

.whatsapp-btn{
background:#22c55e;
color:white;
padding:10px 20px;
border-radius:8px;
text-decoration:none;
}

/* FOOTER */

footer{
text-align:center;
padding:25px;
background:#020617;
margin-top:40px;
opacity:0.8;
}